body {
    font-family: Arial,sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {
   list-style: circle inside;  
}

img > header {
    width: 100px;
}

a:link {
    text-decoration: none;
    color: inherit;

}

